.primary-btn {
    color: var(--white-color);
    font-family: var(--font-dmsans);
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    white-space: nowrap;
    border-radius: 5px;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: all .6s;
    display: inline-flex;
    align-items: center;
    line-height: 1;
    gap: 10px;
    background-color: var(--primary-color2);
    padding: 17px 32px;
    transition: .5s;
    cursor: pointer;
   }
   
   .primary-btn.lg {
    padding: 13px 20px;
    margin-bottom: 10px;
   }

   .primary-btn svg {
    fill: var(--bs-gray-700);
    transition: all .6s
    }

    .primary-btn:hover {
    color: var(--white-color);
    }
   
   .primary-btn.active {
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
   
   }

   .primary-btn.outline-btn {
    background-color: transparent;
    border: 1px solid rgba(34, 34, 34, .5);
    border-radius: 5px;
    font-size: 15px !important;
    color: rgba(34, 34, 34, .5);
    padding: 8px 16px;
   }
   
   .primary-btn.nonActive {
    background-color: rgba(var(--title-color-opc), .08);
    color: var(--title-color);
    border: none;
   }